.resources__logo {
    width: 270px;   
    height: 38px;
    transition: opacity 0.3s;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources__logo:hover {
    opacity: 0.6;    
}