.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    align-self: flex-start;
    transition: opacity 0.3s;
    text-decoration: none;
    color: #2f80ed;
}

.khan__buy-link:hover {
    opacity: 0.5;
}